apiVersion: v1
kind: Service
metadata:
  name: {{ include "oci-native-ingress-controller.fullname" . }}
  namespace: {{ .Values.deploymentNamespace }}
  labels:
    {{- include "oci-native-ingress-controller.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: webhook-server
      port: 443
      protocol: TCP
      targetPort: webhook-server
  selector:
    {{- include "oci-native-ingress-controller.selectorLabels" . | nindent 4 }}
